AlarmPanel.json
[{"id":"698b98df.4bc2","type":"tab","label":"Test Alarm Panel","disabled":false,"info":""},{"id":"10069cd.d020063","type":"join","z":"698b98df.4bc2","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1370,"y":624,"wires":[["de1c4c9c.4b5398"]]},{"id":"29dcc2b9.9a1756","type":"ui_template","z":"698b98df.4bc2","group":"ec3e28ae.65191","name":"Show Alarm Status Image","order":1,"width":"8","height":"6","format":"<style>\n/* Firefox old*/\n@-moz-keyframes blink {\n    0% { opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n} \n\n@-webkit-keyframes blink {\n    0% {opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n}\n/* IE */\n@-ms-keyframes blink {\n    0% {opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n} \n/* Opera and prob css3 final iteration */\n@keyframes blink {\n    0% {opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n} \n.blink-image {\n    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */\n    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */\n    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */\n    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */\n    display: block;\n    margin-left: auto;\n    margin-right: auto;\n    width:250px;\n    vertical-align: middle;\n}\n\n.marginauto {\n    display: block;\n    margin-left: auto;\n    margin-right: auto;\n    width:250px;\n    vertical-align: middle;\n}\n\n</style>\n\n\n<div  ng-click=\"send({payload:'Clicked'});\">\n  \n<div ng-bind-html=\"msg.payload\"></div>\n\n</div>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1030,"y":139,"wires":[[]]},{"id":"352090a3.54181","type":"server-state-changed","z":"698b98df.4bc2","name":"Alarm Panel","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.house","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":573,"y":279,"wires":[["e8ba202d.de8438","39cf120f.1fa656","efba1d36.f940e8"]]},{"id":"68a2779c.5ee258","type":"ui_text","z":"698b98df.4bc2","group":"ec3e28ae.65191","order":2,"width":"8","height":"1","name":"Alarm Status:","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":279,"wires":[]},{"id":"5921506.8711e3","type":"change","z":"698b98df.4bc2","name":"\"armed home\"","rules":[{"t":"change","p":"payload","pt":"msg","from":"armed_home","fromt":"str","to":"Armed Stay","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":199,"wires":[["68a2779c.5ee258"]]},{"id":"e8ba202d.de8438","type":"switch","z":"698b98df.4bc2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"armed_home","vt":"str"},{"t":"eq","v":"armed_away","vt":"str"},{"t":"eq","v":"triggered","vt":"str"},{"t":"eq","v":"disarmed","vt":"str"},{"t":"eq","v":"pending","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":790,"y":279,"wires":[["5921506.8711e3"],["5f1154f0.fa8c24"],["9e63c5e3.30e56"],["c51f0e32.c5e0f8"],["2e79995e.1da8f6"]]},{"id":"5f1154f0.fa8c24","type":"change","z":"698b98df.4bc2","name":"\"armed away\"","rules":[{"t":"change","p":"payload","pt":"msg","from":"armed_away","fromt":"str","to":"Armed Away","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":239,"wires":[["68a2779c.5ee258"]]},{"id":"9e63c5e3.30e56","type":"change","z":"698b98df.4bc2","name":"\"triggered\"","rules":[{"t":"change","p":"payload","pt":"msg","from":"triggered","fromt":"str","to":"Triggered","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":279,"wires":[["68a2779c.5ee258"]]},{"id":"c51f0e32.c5e0f8","type":"change","z":"698b98df.4bc2","name":"\"disarmed\"","rules":[{"t":"change","p":"payload","pt":"msg","from":"disarmed","fromt":"str","to":"Disarmed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":319,"wires":[["68a2779c.5ee258"]]},{"id":"153506c4.e21951","type":"function","z":"698b98df.4bc2","name":"Hide Button on State","func":"msgs_home = {}\nif (msg.payload === \"armed_home\") { msgs_home.color = \"white\"; msgs_home.background = \"white\"; msgs_home.enabled = false; }\nelse if (msg.payload === \"armed_away\") { msgs_home.color = \"white\"; msgs_home.background = \"white\"; msgs_home.enabled = false; }\nelse if (msg.payload === \"triggered\") { msgs_home.color = \"white\"; msgs_home.background = \"white\"; msgs_home.enabled = false;  }\nelse if (msg.payload === \"pending\") { msgs_home.color = \"white\"; msgs_home.background = \"white\"; msgs_home.enabled = false; }\nelse if (msg.payload === \"disarmed\") { msgs_home.color = \"\"; msgs_home.background = \"\"; msgs_home.enabled = true; }\nif (msg.locked === \"locked\") { msgs_home.enabled = false; }\n\nmsgs_away = {}\nif (msg.payload === \"armed_home\") { msgs_away.color = \"white\"; msgs_away.background = \"white\"; msgs_away.enabled = false; }\nelse if (msg.payload === \"armed_away\") { msgs_away.color = \"white\"; msgs_away.background = \"white\"; msgs_away.enabled = false; }\nelse if (msg.payload === \"triggered\") { msgs_away.color = \"white\"; msgs_away.background = \"white\"; msgs_away.enabled = false;  }\nelse if (msg.payload === \"pending\") { msgs_home.color = \"white\"; msgs_away.background = \"white\"; msgs_home.enabled = false; }\nelse if (msg.payload === \"disarmed\") { msgs_away.color = \"\"; msgs_away.background = \"\"; msgs_away.enabled = true; }\nif (msg.locked === \"locked\") { msgs_away.enabled = false; }\n\nmsgs_disarmed = {}\nif (msg.payload === \"armed_home\") { msgs_disarmed.color = \"\"; msgs_disarmed.background = \"\"; msgs_disarmed.enabled = true; }\nelse if (msg.payload === \"armed_away\") { msgs_disarmed.color = \"\"; msgs_disarmed.background = \"\"; msgs_disarmed.enabled = true; }\nelse if (msg.payload === \"triggered\") { msgs_disarmed.color = \"\"; msgs_disarmed.background = \"\"; msgs_disarmed.enabled = true; }\nelse if (msg.payload === \"pending\") { msgs_disarmed.color = \"\"; msgs_disarmed.background = \"\"; msgs_disarmed.enabled = true; }\nelse if (msg.payload === \"disarmed\") { msgs_disarmed.color = \"white\"; msgs_disarmed.background = \"white\"; msgs_disarmed.enabled = false; }\nif (msg.locked === \"locked\") { msgs_disarmed.enabled = false; }\n\nmsgs_panel_locked = {}\nif (msg.locked === \"locked\") { msgs_panel_locked.enabled = false; }\nelse if (msg.locked === \"unlocked\") { msgs_panel_locked.enabled = true; }\nelse if (msg.payload === \"armed_home\") { msgs_panel_locked.enabled = true; }\nelse if (msg.payload === \"armed_away\") { msgs_panel_locked.enabled = true; }\nelse if (msg.payload === \"triggered\") { msgs_panel_locked.enabled = true; }\nelse if (msg.payload === \"pending\") { msgs_panel_locked.enabled = true; }\nelse if (msg.payload === \"disarmed\") { msgs_panel_locked.enabled = true; }\n\nreturn [ msgs_home, msgs_away, msgs_disarmed, msgs_panel_locked ];","outputs":4,"noerr":0,"x":480,"y":680,"wires":[["4e75e0f5.3cc018"],["4e12c643.a9e528"],["e8bbbd8c.feae1"],["5c05d091.34ac68","b57d8c8b.848a38","3e268b4d.677f34","3e06e59b.e851d2","db037214.8fb39","2d812b51.2e178c","80aba4d7.73c4c","aeaef4e4.88a83","a82cf00d.200d98","878def13.b4bbe","ead616a6.34061","d4519b94.46be","13279b5f.2a899d"]]},{"id":"66979d1d.ffe3f4","type":"inject","z":"698b98df.4bc2","name":"Manual Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"15","x":390,"y":403,"wires":[["efba1d36.f940e8"]]},{"id":"efba1d36.f940e8","type":"api-current-state","z":"698b98df.4bc2","name":"Alarm State","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"alarm_control_panel.house","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":575,"y":363,"wires":[["e8ba202d.de8438","153506c4.e21951","39cf120f.1fa656"]]},{"id":"de1c4c9c.4b5398","type":"join","z":"698b98df.4bc2","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"20","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1530,"y":620,"wires":[["fad6a023.ada7b8"]]},{"id":"89ecc34f.541db8","type":"change","z":"698b98df.4bc2","name":"Change Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1880,"y":580,"wires":[["3b6d7cd0.67a344"]]},{"id":"5c05d091.34ac68","type":"switch","z":"698b98df.4bc2","name":"","property":"enabled","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":1084,"wires":[["6d80ccac.5e720c"],["1e48c853.10016"]]},{"id":"6d80ccac.5e720c","type":"change","z":"698b98df.4bc2","name":"Locked","rules":[{"t":"set","p":"enabled","pt":"msg","to":"Panel Locked, Please try again later.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1060,"wires":[["26a41b36.3d67ec"]]},{"id":"e8bbbd8c.feae1","type":"delay","z":"698b98df.4bc2","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":964,"wires":[["81f91dee.8e978"]]},{"id":"26a41b36.3d67ec","type":"ui_text","z":"698b98df.4bc2","group":"ec3e28ae.65191","order":3,"width":"8","height":"1","name":"Panel Status","label":"Panel:","format":"{{msg.enabled}}","layout":"row-spread","x":990,"y":1080,"wires":[]},{"id":"fad6a023.ada7b8","type":"function","z":"698b98df.4bc2","name":"Check Pin Code","func":"// variables\nvar msgs = {};\nvar codes = [];\nvar key_input = msg.payload[0];\nvar msg_error = \"\";\nvar key_check = {};\nvar usercode = [];\n\nlogging = {};\nlogging.payload = {};\n\n// get global variables from config file\nconf_usercount = global.get(\"usercount\");\nconf_codes = global.get(\"codes\");\nconf_name = global.get(\"name\");\nconf_picture = global.get(\"picture\");\ncounter = global.get(\"Counter\") \nmaxretries = global.get(\"MaxRetries\")\n\n\n// timestamp\nvar today = new Date();\nvar timeAsString = today.toLocaleTimeString();\nvar dd = today.getDate();\nvar mm = today.getMonth() + 1; //January is 0!\n\nvar yyyy = today.getFullYear();\nif (dd < 10) {\n  dd = '0' + dd;\n} \nif (mm < 10) {\n  mm = '0' + mm;\n} \nvar today1 = dd + '.' + mm + '.' + yyyy;\n\n// check input code with codes form config file\nkey_check = conf_codes.includes(key_input)\nif (key_check === true) { \n    msg_error = 0;\n    \n    //logging\n    for ( var i = 0; i < conf_codes.length; i++) {\n        if ( conf_codes[i] === key_input ) { usercode = i }\n    }\n    logging.payload.today = today1\n    logging.payload.time = timeAsString;\n    logging.payload.user = conf_name[usercode];\n    logging.payload.state = msg.payload[1]\n    node.send([null,null,logging])\n}\nif (key_check === false){ msg_error = 1;}\nif (key_check === false){ msgs.pin = \"Wrong PIN\";}\n\n// check failed counter or reset to 0    \nif (msg_error === 1 ) {counter += 1; global.set(\"Counter\",counter);}\nif (msg_error === 0 ) {counter = 0; global.set(\"Counter\",counter);}\nmsgs.counter = counter\n\n// initiate lock state\nif ( counter >= maxretries ) { msgs.locked = \"locked\";} \nif ( counter <= maxretries ) { msgs.locked = \"unlocked\";}\n\n \n\n\nif ( msgs.locked === \"locked\") { return [ null, msgs, null, null]; }\nif ( key_check === true ) { return [ msg, null, null, null]; }\nif ( key_check === false ) { return [ null, null, null, msgs]; }\nelse return [ null, null, msgs, null]; \n\n","outputs":4,"noerr":0,"x":1680,"y":620,"wires":[["89ecc34f.541db8"],["8bee7ec2.269448","2d7f4db.d79dbb2"],["41c3be68.5a34f8"],["f09780b3.db662"]]},{"id":"39cf120f.1fa656","type":"function","z":"698b98df.4bc2","name":"set state image","func":"imagepath = global.get(\"Imagepath\"); \n\nif (msg.payload === \"armed_home\") { msg.payload = '<img class=\"marginauto\" src=\"' + imagepath + 'armed_home.png\">'; }\nelse if (msg.payload === \"armed_away\") { msg.payload = '<img class=\"marginauto\" src=\"' + imagepath + 'armed_away.png\">'; }\nelse if (msg.payload === \"triggered\") { msg.payload = '<img class=\"blink-image\" src=\"' + imagepath + 'alarm_triggered.png\">';  }\nelse if (msg.payload === \"pending\") { msg.payload = '<img class=\"blink-image\" src=\"' + imagepath + 'pending.png\">'; }\nelse if (msg.payload === \"disarmed\") { msg.payload = '<img class=\"marginauto\" src=\"' + imagepath + 'unarmed.png\">'; }\nelse if (msg.locked === \"locked\") { msg.payload = '<img class=\"marginauto\" src=\"' + imagepath + 'locked_out.png\">'; }\nreturn msg;\n","outputs":1,"noerr":0,"x":820,"y":139,"wires":[["29dcc2b9.9a1756"]]},{"id":"2e79995e.1da8f6","type":"change","z":"698b98df.4bc2","name":"\"pending\"","rules":[{"t":"change","p":"payload","pt":"msg","from":"pending","fromt":"str","to":"Setting the Alarm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":359,"wires":[["68a2779c.5ee258"]]},{"id":"eb154dbd.4e5088","type":"comment","z":"698b98df.4bc2","name":"Change this to your alarm_control_panel entity name and server ip => ","info":"","x":291,"y":235,"wires":[]},{"id":"e93ea8fd.814d48","type":"comment","z":"698b98df.4bc2","name":"Change this to your alarm_control_panel entity name => ","info":"","x":240,"y":360,"wires":[]},{"id":"1e48c853.10016","type":"change","z":"698b98df.4bc2","name":"Active","rules":[{"t":"set","p":"enabled","pt":"msg","to":"Connected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":829,"y":1100,"wires":[["26a41b36.3d67ec"]]},{"id":"b57d8c8b.848a38","type":"ui_template","z":"698b98df.4bc2","group":"b926839e.f2c5e8","name":"1","order":1,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '1'})\"> \n    1\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":950,"y":444,"wires":[["10069cd.d020063"]]},{"id":"3e268b4d.677f34","type":"ui_template","z":"698b98df.4bc2","group":"b926839e.f2c5e8","name":"2","order":2,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '2'})\"> \n    2\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":950,"y":484,"wires":[["10069cd.d020063"]]},{"id":"3e06e59b.e851d2","type":"ui_template","z":"698b98df.4bc2","group":"b926839e.f2c5e8","name":"3","order":3,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '3'})\"> \n    3\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":950,"y":524,"wires":[["10069cd.d020063"]]},{"id":"db037214.8fb39","type":"ui_template","z":"698b98df.4bc2","group":"b926839e.f2c5e8","name":"4","order":5,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '4'})\"> \n    4\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":950,"y":564,"wires":[["10069cd.d020063"]]},{"id":"2d812b51.2e178c","type":"ui_template","z":"698b98df.4bc2","group":"b926839e.f2c5e8","name":"5","order":6,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '5'})\"> \n    5\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":950,"y":604,"wires":[["10069cd.d020063"]]},{"id":"80aba4d7.73c4c","type":"ui_template","z":"698b98df.4bc2","group":"b926839e.f2c5e8","name":"6","order":7,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '6'})\"> \n    6\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":950,"y":644,"wires":[["10069cd.d020063"]]},{"id":"aeaef4e4.88a83","type":"ui_template","z":"698b98df.4bc2","group":"b926839e.f2c5e8","name":"7","order":9,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '7'})\"> \n    7\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":950,"y":684,"wires":[["10069cd.d020063"]]},{"id":"a82cf00d.200d98","type":"ui_template","z":"698b98df.4bc2","group":"b926839e.f2c5e8","name":"8","order":10,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '8'})\"> \n    8\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":950,"y":724,"wires":[["10069cd.d020063"]]},{"id":"878def13.b4bbe","type":"ui_template","z":"698b98df.4bc2","group":"b926839e.f2c5e8","name":"9","order":11,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '9'})\"> \n    9\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":950,"y":764,"wires":[["10069cd.d020063"]]},{"id":"ead616a6.34061","type":"ui_template","z":"698b98df.4bc2","group":"b926839e.f2c5e8","name":"*","order":13,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '*'})\"> \n    *\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":950,"y":804,"wires":[["10069cd.d020063"]]},{"id":"d4519b94.46be","type":"ui_template","z":"698b98df.4bc2","group":"b926839e.f2c5e8","name":"0","order":14,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '0'})\"> \n    0\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":950,"y":844,"wires":[["10069cd.d020063"]]},{"id":"4e75e0f5.3cc018","type":"ui_template","z":"698b98df.4bc2","group":"b926839e.f2c5e8","name":"Home","order":4,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched littlefont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'ARM_HOME'})\"> \n    ARM HOME\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":950,"y":884,"wires":[["824ee252.481ef8","cc4b2ab1.9640e8"]]},{"id":"4e12c643.a9e528","type":"ui_template","z":"698b98df.4bc2","group":"b926839e.f2c5e8","name":"Away","order":8,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched littlefont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'ARM_AWAY'})\"> \n    ARM AWAY\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":950,"y":924,"wires":[["824ee252.481ef8","cc4b2ab1.9640e8"]]},{"id":"81f91dee.8e978","type":"ui_template","z":"698b98df.4bc2","group":"b926839e.f2c5e8","name":"DISARM","order":12,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched littlefont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'DISARM'})\"> \n    DISARM\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":960,"y":964,"wires":[["824ee252.481ef8","cc4b2ab1.9640e8"]]},{"id":"13279b5f.2a899d","type":"ui_template","z":"698b98df.4bc2","group":"b926839e.f2c5e8","name":"C","order":15,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'Clear'})\"> \n    C\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":950,"y":1004,"wires":[["824ee252.481ef8","cc4b2ab1.9640e8"]]},{"id":"824ee252.481ef8","type":"function","z":"698b98df.4bc2","name":"Message Complete","func":"msg.payload=\"\";\nmsg.complete=true;\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":904,"wires":[["10069cd.d020063"]]},{"id":"cc4b2ab1.9640e8","type":"delay","z":"698b98df.4bc2","name":"500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1190,"y":824,"wires":[["de1c4c9c.4b5398"]]},{"id":"934b64f4.45d95","type":"yaml","z":"698b98df.4bc2","property":"payload","name":"","x":590,"y":40,"wires":[["5f4fce55.3f21c8","24a5d0b6.f97d1"]]},{"id":"6d2c4009.f330f8","type":"inject","z":"698b98df.4bc2","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":"","x":120,"y":40,"wires":[["630e3c44.fa654c"]]},{"id":"630e3c44.fa654c","type":"file in","z":"698b98df.4bc2","name":"","filename":"/config/resources/bwalarm/bwalarm.yaml","format":"utf8","sendError":true,"x":360,"y":40,"wires":[["934b64f4.45d95"]]},{"id":"1a957ea0.fd84c9","type":"function","z":"698b98df.4bc2","name":"Unlock","func":"if ( msg.payload === \"unlocked\" ) {counter = 0; global.set(\"Counter\",counter);}\nif ( msg.payload === \"unlocked\" ) { \n    msg.counter = \"\";\n    msg.locked  = \"\";\n    msg.payload = \"\";\n    return msg; }\nif ( msg.payload !== \"unlocked\" ) { return null; }\n","outputs":1,"noerr":0,"x":1919,"y":704,"wires":[["a24b6dc5.369ec"]]},{"id":"8bee7ec2.269448","type":"function","z":"698b98df.4bc2","name":"Countdown","func":"var countdown = global.get(\"LockTime\"); \n\n(function myLoop (i) {          \n   setTimeout(function () {   \n          msg.enabled = \"Panel Locked for: \" + i + \" Seconds\"\n          node.send(msg)\n      if (--i) myLoop(i);\n      \n      if ( i === 0) {\n            msg.payload = \"unlocked\"\n            node.send(msg)          \n      }\n      \n   }, 1000)\n})(countdown); \n\n \n","outputs":1,"noerr":0,"x":1879,"y":664,"wires":[["1a957ea0.fd84c9","292c93e9.07fa0c"]]},{"id":"2d7f4db.d79dbb2","type":"link out","z":"698b98df.4bc2","name":"","links":["162b9189.c3dc36","8299f60d.a7366"],"x":1864,"y":623,"wires":[]},{"id":"162b9189.c3dc36","type":"link in","z":"698b98df.4bc2","name":"locked","links":["1ef294a6.db5593","2d7f4db.d79dbb2"],"x":315,"y":679,"wires":[["153506c4.e21951"]]},{"id":"8299f60d.a7366","type":"link in","z":"698b98df.4bc2","name":"reinject image","links":["2d7f4db.d79dbb2","1ef294a6.db5593"],"x":675,"y":139,"wires":[["39cf120f.1fa656"]]},{"id":"a4d16673.4d4e88","type":"link in","z":"698b98df.4bc2","name":"Panel Status","links":["292c93e9.07fa0c"],"x":865,"y":1140,"wires":[["26a41b36.3d67ec"]]},{"id":"292c93e9.07fa0c","type":"link out","z":"698b98df.4bc2","name":"","links":["a4d16673.4d4e88"],"x":2008,"y":665,"wires":[]},{"id":"aa0367d4.b58a28","type":"function","z":"698b98df.4bc2","name":"Global Settings","func":"\n\n// Global Settings\nglobal.set(\"Counter\",0) \nglobal.set(\"Imagepath\",\"http://homeassitant.local:1883/local/images/\")\nreturn msg;\n\n","outputs":1,"noerr":0,"x":320,"y":100,"wires":[[]]},{"id":"62a39dbf.463494","type":"inject","z":"698b98df.4bc2","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"4","x":160,"y":100,"wires":[["aa0367d4.b58a28"]]},{"id":"a24b6dc5.369ec","type":"api-current-state","z":"698b98df.4bc2","name":"Alarm State","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"alarm_control_panel.house","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1959,"y":744,"wires":[["1ef294a6.db5593"]]},{"id":"1ef294a6.db5593","type":"link out","z":"698b98df.4bc2","name":"","links":["162b9189.c3dc36","8299f60d.a7366"],"x":2064,"y":744,"wires":[]},{"id":"58e541e2.94417","type":"comment","z":"698b98df.4bc2","name":"Change this to your alarm_control_panel entity name => ","info":"","x":1639,"y":748,"wires":[]},{"id":"56e394d.007546c","type":"file","z":"698b98df.4bc2","name":"","filename":"/config/alarm_logging.json","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":2060,"y":860,"wires":[[]]},{"id":"ba95e43e.8fd7c8","type":"comment","z":"698b98df.4bc2","name":"Global UI Settings","info":"","x":1370,"y":60,"wires":[]},{"id":"90fc201.7897c6","type":"comment","z":"698b98df.4bc2","name":"Logging to file","info":"","x":1860,"y":809,"wires":[]},{"id":"6c99affe.973c7","type":"comment","z":"698b98df.4bc2","name":"<== Change the MQTT details to match Hassio","info":"","x":2440,"y":660,"wires":[]},{"id":"60695c08.0b553c","type":"ui_ui_control","z":"698b98df.4bc2","name":"","x":780,"y":1257,"wires":[[]]},{"id":"f2a95809.185d7","type":"file in","z":"698b98df.4bc2","name":"","filename":"/config/alarm_logging.json","format":"lines","sendError":false,"x":400,"y":1320,"wires":[["d6d9e457.b1238"]]},{"id":"8958f8d1.4ae37","type":"ui_template","z":"698b98df.4bc2","group":"eae8f15e.9f41f8","name":"","order":1,"width":0,"height":0,"format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n\n <tr>\n <th>Date</th> \n <th>Time</th>\n <th>User</th>\n <th>Action</th>\n \n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\" >\n <td ng-repeat=\"item in row\">{{item}}</td>\n \n </tr>\n </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1080,"y":1320,"wires":[[]]},{"id":"a065610c.4cdcf8","type":"delay","z":"698b98df.4bc2","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":1257,"wires":[["60695c08.0b553c"]]},{"id":"6da93196.ffa728","type":"ui_template","z":"698b98df.4bc2","group":"ec3e28ae.65191","name":"KeyPad","order":6,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'KeyPad'})\"> \n    KeyPad\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":380,"y":1173,"wires":[["9dd30c29.ee83c"]]},{"id":"470f5389.cd53cc","type":"ui_template","z":"698b98df.4bc2","group":"ec3e28ae.65191","name":"Log","order":7,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'Log'})\"> \n    Log\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":390,"y":1214,"wires":[["9dd30c29.ee83c"]]},{"id":"abeb2358.002038","type":"ui_template","z":"698b98df.4bc2","group":"ec3e28ae.65191","name":"Placeholder left","order":5,"width":"2","height":"1","format":"\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":360,"y":1137,"wires":[[]]},{"id":"67fa7c76.bd31dc","type":"inject","z":"698b98df.4bc2","name":"","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":true,"onceDelay":"5","x":190,"y":1320,"wires":[["f2a95809.185d7"]]},{"id":"f02f45c7.fa869","type":"inject","z":"698b98df.4bc2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":190,"y":1177,"wires":[["6da93196.ffa728"]]},{"id":"4bfe25a0.522dac","type":"comment","z":"698b98df.4bc2","name":"KeyPad / Log/Open Sensors Buttons UI","info":"","x":248,"y":1054,"wires":[]},{"id":"61600d32.201cdc","type":"ui_template","z":"698b98df.4bc2","group":"b926839e.f2c5e8","name":"UI Stuff Alarm Panel","order":16,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 20px 20px 20px 20px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 14px;\n}\n\n   .littlefont {\n  font-size: 10px;\n}\n\n  #masonry-container {\n      background: white;\n  }\n  \n  }\n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"#33ccff\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1380,"y":96,"wires":[[]]},{"id":"c351f6c2.8fde18","type":"ui_template","z":"698b98df.4bc2","group":"e1fe9163.88f0a","name":"Clock Toolbar","order":1,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":1370,"y":176,"wires":[[]]},{"id":"f903df17.e3fa68","type":"ui_template","z":"698b98df.4bc2","group":"ec3e28ae.65191","name":"UI Stuff Alarm Panel Left","order":8,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 20px 20px 20px 20px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 14px;\n}\n\n   .littlefont {\n  font-size: 10px;\n}\n\n  #masonry-container {\n      background: white;\n  }\n  \n  }\n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"#33ccff\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1400,"y":136,"wires":[[]]},{"id":"d7088d0b.a2f6f8","type":"link in","z":"698b98df.4bc2","name":"reinject state","links":["be3ab3b4.d05a1"],"x":455,"y":460,"wires":[["efba1d36.f940e8"]]},{"id":"9f0f76cb.8bc698","type":"link in","z":"698b98df.4bc2","name":"wrong pin","links":["f09780b3.db662"],"x":855,"y":400,"wires":[["43795407.e92574"]]},{"id":"43795407.e92574","type":"change","z":"698b98df.4bc2","name":"\"pin\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Incorrect PIN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":400,"wires":[["7ea2a8d.504da58","68a2779c.5ee258"]]},{"id":"7ea2a8d.504da58","type":"delay","z":"698b98df.4bc2","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":400,"wires":[["be3ab3b4.d05a1"]]},{"id":"be3ab3b4.d05a1","type":"link out","z":"698b98df.4bc2","name":"reinject state","links":["d7088d0b.a2f6f8"],"x":1235,"y":400,"wires":[]},{"id":"f09780b3.db662","type":"link out","z":"698b98df.4bc2","name":"wrong pin","links":["9f0f76cb.8bc698"],"x":1735,"y":680,"wires":[]},{"id":"95b31102.9e81d8","type":"join","z":"698b98df.4bc2","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":830,"y":1320,"wires":[["621809ea.74cf3"]]},{"id":"41c3be68.5a34f8","type":"json","z":"698b98df.4bc2","name":"","property":"payload","action":"","pretty":false,"x":1850,"y":860,"wires":[["56e394d.007546c"]]},{"id":"27b2e405.5ed1dc","type":"json","z":"698b98df.4bc2","name":"","property":"payload","action":"","pretty":true,"x":710,"y":1320,"wires":[["95b31102.9e81d8"]]},{"id":"621809ea.74cf3","type":"template","z":"698b98df.4bc2","name":"css","field":"style","fieldType":"msg","format":"css","syntax":"mustache","template":"table {\n  width: 100%;\n}\n\nth {\n  background-color: #2980B9;\n  color: white;\n  height: 50px;\n}\n\ntr {\n  height: 40px;\n}\n\ntr:nth-child(even) {background-color: #f2f2f2;}\n\n","output":"str","x":950,"y":1320,"wires":[["8958f8d1.4ae37"]]},{"id":"3b6d7cd0.67a344","type":"function","z":"698b98df.4bc2","name":"Get Friendly Names ","func":"const globalHomeAssistant = global.get('homeassistant');\nvar sensorhome=flow.get('Sensor_Home')\nvar sensoraway=flow.get('Sensor_Away')\nvar sensornight=flow.get('Sensor_Night')\n//var armed_mode = flow.get('arm_mode');\nvar armed_mode=msg.payload;\nvar entity,friendlyName=\"\";\n//var count = 0;\nvar listState=[];\nvar listfriendlyNames=[];\nvar afriendlyNames=[];\nvar sensorOn=\"false\";\n//var topic=msg.topic;\nvar mAway,mHome,mNight,msg2,newMsg={};\nvar vDisarm=\"\";\nvar j=0;\n\nvar sensor=[];\n\n\n// Set sensor list based on Alarm Mode\nif (armed_mode==\"ARM_AWAY\") {\n        sensor=sensoraway;}\nif (armed_mode==\"ARM_HOME\") {\n        sensor=sensorhome;}\nif (armed_mode==\"ARM_NIGHT\") {\n        sensor=sensornight;}\nif (armed_mode==\"DISARM\") {\n        vDisarm=\"Disarm\";}\n\n\n// Loop through the Alarm sensors Array\nif (vDisarm != \"Disarmed\"){\n    for (var i = 0; i< sensor.length; i++) {\n        entity=sensor[i];\n//        count +=1;\n        //Get State of sensors in array\n        listState[i] = globalHomeAssistant.homeAssistant.states[entity].state;\n        //Get Friendly Names of sensors\n        listfriendlyNames[i] = globalHomeAssistant.homeAssistant.states[entity].attributes.friendly_name;\n        // Check if any sensor states are on and if so set sensorOn to true\n        if (listState[i]== \"on\") {\n            sensorOn=\"true\";\n            // create a string of sensor Friendly Names that are on\n            afriendlyNames[j] = listfriendlyNames[i];\n            j+=1;\n        }\n    }\n}\n\n// set payload\nmsg.payload=afriendlyNames;\nmsg.data=sensorOn;\nnewMsg.payload=armed_mode;\n//msg.data=sensorOn;\n\n// Return message if any Sensor states are on.\nif (sensorOn == \"true\") {\nreturn [msg,null];\n}else {\n   return [null,newMsg];\n}\n","outputs":2,"noerr":0,"x":2080,"y":580,"wires":[["36a2b04b.cbff4","9ace65a6.227a58"],["7524b19e.717b38"]],"info":"Generates a list of Friendly Names of Open Sensors from the immediate sensors in the BWALARM.yaml file.\n\nRequires Flow.Arm_Mode variable from Store Arm Mode Function "},{"id":"c9f8620c.66b96","type":"ui_template","z":"698b98df.4bc2","group":"5e5a4eca.3ace1","name":"Open Sensors Panel","order":1,"width":"8","height":"7","format":"<style>\n    {{msg.style}}\n</style>\n<table>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td> <i class=\"fa fa-square-o\" aria-hidden=\"true\"></i>  {{row}}</td>\n </tr>\n </tbody>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2440,"y":560,"wires":[[]]},{"id":"36a2b04b.cbff4","type":"template","z":"698b98df.4bc2","name":"css","field":"style","fieldType":"msg","format":"css","syntax":"mustache","template":"table {\n  width: 100%;\n}\n\nth {\n  background-color: #2980B9;\n  color: white;\n  height: 50px;\n}\n\ntr {\n  height: 40px;\n}\n\ntr:nth-child(even) {background-color: #f2f2f2;}\n\n","output":"str","x":2270,"y":560,"wires":[["c9f8620c.66b96"]]},{"id":"7524b19e.717b38","type":"mqtt out","z":"698b98df.4bc2","name":"","topic":"home/alarm/set","qos":"","retain":"","broker":"3f5c82ac.348636","x":2300,"y":600,"wires":[]},{"id":"24a5d0b6.f97d1","type":"function","z":"698b98df.4bc2","name":"get sensors from yaml","func":"var sensorhome=[];\nvar sensoraway=[];\nvar sensornight=[];\nvar index=0;\n\n\nfunction getSensors(msgcontent){\n    var sensors=[];\n    var sensorsOverride=[];\n    sensors=(msgcontent.immediate);\n    sensors=sensors.concat(msgcontent.delayed);\n    sensorsOverride=(msgcontent.override);\n\n        for (var i=0; i<sensorsOverride.length; i++) {\n            index = sensors.indexOf(sensorsOverride[i]);\n            if (index > -1) {\n                sensors.splice(index, 1);\n            }\n        }\n    return sensors;\n}\nsensoraway=getSensors(msg.payload.states.armed_away);\nsensorhome=getSensors(msg.payload.states.armed_home);\nsensornight=getSensors(msg.payload.states.armed_night);\nflow.set('Sensor_Away',sensoraway);\nflow.set('Sensor_Home',sensorhome);\nflow.set('Sensor_Night',sensornight);\n\n\nmsg.payload=sensorhome;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":60,"wires":[[]]},{"id":"5f4fce55.3f21c8","type":"function","z":"698b98df.4bc2","name":"get settings from yaml","func":"\n// reset global variables\nglobal.set(\"usercount\",\"\")\nglobal.set(\"codes\",\"\")\nglobal.set(\"name\",\"\")\nglobal.set(\"picture\",\"\")\nglobal.set(\"LockTime\",\"\") \nglobal.set(\"MaxRetries\",\"\")\n\nvar msgs = [];\nvar codes = [];\nvar name = [];\nvar picture = [];\nvar lockout = msg.payload.passcode_attempts_timeout;\nvar pass_attempts = msg.payload.passcode_attempts\nvar count = 0;\nfor (var i = 0; i< msg.payload.users.length; i++) {\n  if ( msg.payload.users[i].enabled === true) {\n    codes.push(msg.payload.users[i].code);\n    name.push(msg.payload.users[i].name);\n    picture.push(msg.payload.users[i].picture);\n    count +=1\n  }\n}\nglobal.set(\"usercount\",count)\nglobal.set(\"codes\",codes)\nglobal.set(\"name\",name)\nglobal.set(\"picture\",picture)\nglobal.set(\"LockTime\",lockout) \nglobal.set(\"MaxRetries\",pass_attempts)\nmsgs.push({payload: codes});\nreturn [msgs]\n\n","outputs":1,"noerr":0,"x":760,"y":20,"wires":[[]]},{"id":"9dd30c29.ee83c","type":"function","z":"698b98df.4bc2","name":"","func":"if ( msg.data === \"true\" )\n        msg.payload = {\n           \"group\": \n              { \n                 \"hide\": [\"Alarm_Panel_Alarm_Panel\"],\n                 \"show\": [\"Alarm_Panel_Open_Sensors\"],\n                 \"focus\": true\n                }\n        }\n\nif ( msg.payload === \"KeyPad\" )\n        msg.payload = {\n           \"group\": \n              { \n                 \"hide\": [\"Alarm_Panel_Log\",\"Alarm_Panel_Open_Sensors\"],\n                 \"show\": [\"Alarm_Panel_Alarm_Panel\"],\n                 \"focus\": true\n                }\n        }\n\nif ( msg.payload === \"Log\" )\n        msg.payload = {\n           \"group\": \n              { \n                 \"hide\": [\"Alarm_Panel_Alarm_Panel\"],\n                 \"show\": [\"Alarm_Panel_Log\"],\n                 \"focus\": true\n                }\n        }\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":550,"y":1160,"wires":[["a065610c.4cdcf8"]]},{"id":"90e01151.56b01","type":"ui_template","z":"698b98df.4bc2","group":"5e5a4eca.3ace1","name":"Cancel","order":2,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'KeyPad'})\"> \n    Cancel\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":380,"y":1100,"wires":[["9dd30c29.ee83c"]]},{"id":"c6e0c402.c0f65","type":"link in","z":"698b98df.4bc2","name":"Switch Open Sensor Panel","links":["9ace65a6.227a58"],"x":423,"y":1058,"wires":[["9dd30c29.ee83c"]]},{"id":"9ace65a6.227a58","type":"link out","z":"698b98df.4bc2","name":"Trigger Open Sensor Panel","links":["c6e0c402.c0f65"],"x":2235,"y":520,"wires":[]},{"id":"d6d9e457.b1238","type":"switch","z":"698b98df.4bc2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1320,"wires":[["27b2e405.5ed1dc"]]},{"id":"ec3e28ae.65191","type":"ui_group","z":"","name":"Alarm Panel Left","tab":"868f5a07.d8fd2","order":2,"disp":false,"width":"8","collapse":false},{"id":"b926839e.f2c5e8","type":"ui_group","z":"","name":"Alarm Panel","tab":"868f5a07.d8fd2","order":3,"disp":false,"width":"8","collapse":false},{"id":"eae8f15e.9f41f8","type":"ui_group","z":"","name":"Log","tab":"868f5a07.d8fd2","order":4,"disp":false,"width":"8","collapse":false},{"id":"e1fe9163.88f0a","type":"ui_group","z":"","name":"hidden_group","tab":"868f5a07.d8fd2","order":1,"disp":false,"width":"6","collapse":false},{"id":"5e5a4eca.3ace1","type":"ui_group","z":"","name":"Open Sensors","tab":"868f5a07.d8fd2","order":5,"disp":true,"width":"8","collapse":false},{"id":"3f5c82ac.348636","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"868f5a07.d8fd2","type":"ui_tab","z":"","name":"Alarm Panel","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
